body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: sandybrown; */
}

* {
  margin: 0;
  padding: 0;
}

/* =====================================NavBar Css Starts Here======================================================= */

.navbar {
  position: fixed;
  z-index: 99;
  backdrop-filter: blur(50px);
  display: flex;
  top: 0;
  font-family: "Madimi One", sans-serif;
  width: 100vw;
  height: 8vh;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(90, 90, 90);
  /* justify-content: space-around; */
  align-items: center;
}

.navbar .logo {
  width: 10%;
  height: 100%;
  color: #04e5c9;
  /*#ECB159 */
  font-family: "Madimi One", sans-serif;
  font-weight: 800;
  font-size: 1.2vw;
  font-style: normal;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  justify-content: space-around;
  /* background-color: blanchedalmond; */
}

.navbar .menu {
  height: 100%;
  width: 50%;
  /* background-color: rgba(255, 228, 196, 0.045); */
  display: flex;
  align-items: center;
  gap: 2.5vw;
  margin-left: 10vw;
  margin-right: 15vw;
  border-radius: 25px;
  padding-left: 25px;
  font-weight: 100;
  font-size: 1vw;
}

.navbar .menu a {
  font-family: monospace, "Exo 2", sans-serif;
  text-decoration: none;
  /* color: #04e5c9; */
  color: #1a2e35;
  font-weight: bolder;
  font-size: 1.3vw;
  
}

.navbar .menu a:hover {
  color: crimson;
  text-decoration: 2px #17C3B2 underline;
}

.navbar .login {
  height: 80%;
  width: 15%;
  display: flex;
  flex-direction: row;
}

.navbar .login-btn {
  padding: 0.8em 1.2em;
  border: 2px solid #1a2e35;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #1a2e35;
}

.navbar .login-btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #1a2e35;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.navbar .login-btn:hover:before {
  width: 105%;
}

.navbar .login-btn:hover {
  color: whitesmoke;
}


/* ============================================================Hero Section CSS Starts here ================================== */

.hero {
  position: relative;
  height: 70vh;
  width: 100%;
  margin-top: 8vh;
  /* padding-bottom: 5%; */
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  /* background-color: black; */
  /* background-image: linear-gradient( to right ,#F6FDC3 , #FF8080); */
}

.hero .hero-content{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* background-color: aqua; */
}

.hero .left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

.hero .left h1 {
  font-family: monospace;
  font-size: 4.8vmax;
  font-weight: 800;
  width: 80%;
  /* margin-left: 5vmax; */
  color: #00927d;
  /* #00dfc0 */
  margin-top: 10%;
  margin-left: 3.5vw;
  /* background-color: #17C3B2; */

}

.hero .left h2 {
  font-family: monospace;
  font-size: 2.5vmax;
  width: 80%;
  margin-top: 10px;
  margin-left: 3.5vw;
  color: #561C24;
  /* background-color: cadetblue; */
}

.hero .left .btns {
  position: relative;
  display: flex;
  flex-direction: row;
  /* background-color: #17C3B2; */
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 15%;
  margin-top: 8%;
  margin-left: 3.5vw;
  margin-bottom: 8%;

}

/* btn COde=============================== */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: #ECB159;
  border-radius: 100px;
  font-weight: 600;
  color: #561C24;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #561C24;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #561C24;
  border-radius: 50%;

  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #f0f0f0;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  /* fill: #1f387e; */
  fill: #f0f0f0;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(61, 83, 28);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* ========================================================== */
.hero .right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80%;
  /* background-color: #fff; */
}

.hero .right .heroimg {
  position: relative;
  width: 55%;
  height: 85%;
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 1px;
  border: 2px solid #56220b;
  border-radius: 50%;
  background: #aea2a2;
  box-shadow: 31px 31px 53px #867d7d,
    -31px -31px 53px #ffffff;
}



/* ====================================================================Second Home Section Starts Here==================================== */


.hero .second-home {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #00927d; */
  margin-top: 4%;
  /* padding-bottom: 10%; */
  height: max-content;
}
.hero .second-home .title {
  font-family:'Trebuchet MS', sans-serif;
  font-size: 4vw;
  margin-bottom: 2%;
}

.hero .second-home .courses{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  gap: 2%;
  justify-content: space-around;
  height: max-content;
  /* background-color: chocolate; */
  /* padding: 0% 0% 2%; */
  /* margin-bottom: 2%; */
}

/* =====================================Course Card home section================================== */
.card {
  width: 20%;
  height: 50vh;
  margin: 2%;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
}

.card .top-section {
  height: 25vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%); */
  /* background-image: courseName.img; */
  background-size: cover;
  position: relative;
}



.card .top-section .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: white;
  background: #1b233d;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #1b233d;
}

.card .top-section .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.card .top-section .icons .logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.card .top-section .icons .logo .top-section {
  height: 100%;
}

.card .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}

.card .top-section .icons .social-media .svg {
  height: 100%;
  fill: #1b233d;
}

.card .top-section .icons .social-media .svg:hover {
  fill: white;
}

.card .bottom-section {
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
  /* padding: 10px 5px; */
}

.card .bottom-section .title {
  display: block;
  font-size: 1.5vw;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.card .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px 0px 0px 0px;
  color: rgba(170, 222, 243, 0.721);
}

.card .bottom-section .row .item .big-text {
  font-size: 1.2vw;
  display: block;
}

.card .bottom-section .row .item .regular-text {
  font-size: 1vw;
}

.card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}


/* ======================================================================================================================================== */
.second-home button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background:#00927d;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 1vw;
}

button:hover {
  background:#17C3B2;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}




/* ====================================================================Third Home Section Starts Here==================================== */

.hero .third-home{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;  
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: chocolate;
  align-items: center;
}

.hero .third-home h1{
  position: relative;
  margin: 1%;
  background-color: #fff;
  font-size: 4vw;
}

.hero .third-home .featuresSection{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5%;
  background-color: antiquewhite;
  width: 95%;
  height: 100%;
}

.hero .third-home .featuresSection .feature{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1%;
  border-radius: 50px;
  justify-content: end;
  color: #fff;
  text-align: center;
  background-image: url('./assets/animations/bgpic1.jpg');
  background-size: cover;  
}

.hero .third-home .featuresSection .feature h2{
  font-size: 2vw;
}
.hero .third-home .featuresSection .feature h3{
  font-size: 1.3vw;
  padding-bottom: 10px;
}

.hero .third-home .featuresSection .feature div{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom , rgba(0, 0, 0, 0.182) , black);
  border-radius: 50px;
  
}
