body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: sandybrown; */
}

*{
  margin: 0;
  padding: 0;
}

/* =====================================NavBar Css Starts Here======================================================= */

.navbar{
  position: fixed;
  z-index: 99;
  backdrop-filter: blur(50px);
  display: flex;
  top: 0;
  font-family: "Madimi One", sans-serif;
  width: 100vw;
  height: 8vh;
  background-color: rgba(245, 245, 245, 0.3);
  border-bottom: 1px solid rgb(90, 90, 90);
  /* justify-content: space-around; */
  align-items: center;
}

.navbar .logo{
  width: 10%;
  height: 100%;
  color: #ECB159;
  font-family: "Madimi One", sans-serif;
  font-weight: 800;
  font-size: 1.2vw;
  font-style: normal;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  justify-content: space-around;
  /* background-color: blanchedalmond; */
}

.navbar .menu{
  height: 100%;
  width: 50%;
  /* background-color: rgba(255, 228, 196, 0.045); */
  display: flex;
  align-items: center;
  gap: 2.5vw;
  margin-left: 10vw;
  margin-right: 15vw;
  border-radius: 25px;
  padding-left: 25px;
  font-weight: 100;
  font-size: 1vw;
}
.navbar .menu a{
  font-family: monospace,"Exo 2", sans-serif;
  text-decoration: none;
  color: #ECB159;
}
.navbar .menu a:hover{
  color: crimson;
  text-decoration: 2px #17C3B2 underline ;
}
.navbar .login{
  height: 80%;
  width: 15%;
  display: flex;
  flex-direction: row;
}
.navbar .login-btn{
  padding: 0.8em 1.2em;
  border: 2px solid #561C24;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #561C24;
}

.navbar .login-btn::before{
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #561C24;
  transition: .5s ease;
  display: block;
  z-index: -1;
}
.navbar .login-btn:hover:before {
  width: 105%;
 }
 .navbar .login-btn:hover {
  color: whitesmoke;
 }


 /* ============================================================Hero Section CSS Starts here ================================== */

 .hero{
  position: relative;
  height:70vh;
  width: 100%;
  margin-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  background-color: white;
  /* background-image: linear-gradient( to right ,#F6FDC3 , #FF8080); */
 }
.hero .left{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color:#EFFFFD; */
  /* FDF4F5  , E3F4F4 ,ECF2FF , FFFBEB , FEFBE7  , FFF6EA*/
  width: 50%;
  height: 100%;
}
 .hero .left h1{
    font-family: monospace;
    font-size: 4.8vmax;
    font-weight: 800;
    width: 80%;
    /* margin-left: 5vmax; */
    color:#A94438 ;
    margin-top: 10%;
    /* background-color: #17C3B2; */

 }
 .hero .left h2{
    font-family: monospace;
    font-size: 2.5vmax;
    width: 80%;
    margin-top: 10px;
    /* background-color: cadetblue; */
 }
.hero .left .btns{
  position: relative;
  display: flex;
  flex-direction: row;
  /* background-color: #17C3B2; */
  width: 80%;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  margin-top: 10%;
}
/* btn COde=============================== */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: #cacaca;
  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #353a6a;
  border-radius: 50%;

  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #f0f0f0;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  /* fill: #1f387e; */
  fill: #f0f0f0;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(61, 83, 28);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* ========================================================== */
 .hero .right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* background-color: #fff; */
 }

 .hero .right .heroimg{
    width: 45%;
    height: 70%;
    border-radius: 50%;
    background-color: whitesmoke;
    padding: 1px;
    border : 2px solid #56220b;

    background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  28px 28px 56px #989898,
             -28px -28px 56px #ffffff;
 }

 